---
layout: base
page-title: Allen Tan is…writing
---

<div class="page" id="article-index">
  {% include header.html %}
  
  <h2>Selected pieces, both long and short, that I'm happiest with.</h2>
  <ul id="article-titles">
    {% for post in site.posts %}
      <li>
        <a class="title" href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
        <span class="date"> &mdash; {{ post.date | date: '%b' }} {{ post.date | date: '%Y' }} </span>
      </li>
    {% endfor %}
  </ul>
  
  {% include footer.html %}
</div>