<header>
  <div class="row">
    <h1><a href="/">Allen Tan</a> <em>is&#8230;</em></h1>
    <ul>
      <li><a id="thinking" href="/thinking/drucker.html">thinking</a>, </li>
      <li><a id="reading" href="/reading/publishing.html">reading</a>, </li>
      <li><a id="collecting" href="http://blog.tanmade.com">collecting</a>, </li>
      <li><a id="designing" href="/designing">designing</a>, </li>
      <li><a id="editing" href="/editing">editing</a>, </li>
      <li><a id="writing" href="/writing">writing</a>, </li>
      <li><a id="making" href="/making/mnemosyne.html">making</a>, </li>
      <li>and <a id="playing" href="/bio.html">playing around</a></li>
    </ul>
  </div>
  <hr/>
</header>