/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                /Users/altanjohn/Sites/athena
                /Users/altanjohn/Sites/athena/sass
        on line 7 of sass/styleguide.scss

2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
5: 
6: 
7: @import "compass/reset";
8: 
9: @import "config";
10: @import "grid";
11: 
12: body {

Backtrace:
sass/styleguide.scss:7
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/import_node.rb:64:in `import'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:147:in `visit_import'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/engine.rb:247:in `render'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin/compiler.rb:214:in `watch'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:421:in `watch_or_update'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/gems/sass-3.1.10/bin/sass:8
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/bin/sass:19:in `load'
/Users/altanjohn/Developer/.rvm/gems/ruby-1.8.7-p248/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 /Users/altanjohn/Sites/athena\A                 /Users/altanjohn/Sites/athena/sass\A         on line 7 of sass/styleguide.scss\A \A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: \A 7: @import \"compass/reset\";\A 8: \A 9: @import \"config\";\A 10: @import \"grid\";\A 11: \A 12: body {"; }
